<app-title>О нас</app-title>

<div class="grid">
  <img src="assets/images/suppliers.jpg">
  <div class="text">
    <h1>Официальные поставщики</h1>
    <p>В нашем магазине представлены товары высшего качества и только от официальных поставщиков.</p>
  </div>

  <div class="text">
    <h1>Огромный выбор</h1>
    <p>Сотни моделей огнестрельного оружия, а также ножи, мечи и даже топоры.</p>
  </div>
  <img src="assets/images/choise.jpg">

  <img src="/assets/images/availablity.jpg">
  <div class="text">
    <h1>Надежность</h1>
    <p>Покупая у нас, можете не переживать о получении товара. Всё чисто и прозрачно.</p>
  </div>
</div>
