.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 200px;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.text {
  padding: 20px;

  h1 {
    text-align: center;
    color: white;
  }

  p {
    font-size: 24px;
    color: white;
  }
}
