input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nz-divider {
  margin: 0;
}

.add-caliber {
  padding: 5px 12px;
}

.size {
  display: grid !important;
  grid-auto-flow: column;

  input {
    text-align: center;
  }

  .middle-input {
    border-right: 0;
    border-left: 0;
  }
}

.whole-length {
  grid-column: 1 / -1;
}

.justify-center {
  justify-self: center;
}

.save-button {
  display: grid;
  justify-content: end;
}

.price {
  min-width: 300px;
}
