<h2 style="text-align: center">Добавление нового оружия</h2>
<form [formGroup]="weaponForm" class="form-grid" nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Название</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Название оружия обязательно">
      <input formControlName="title" placeholder="Название" nz-input>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">Тип оружия</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Тип оружия обязателен">
      <nz-select formControlName="type" nzPlaceHolder="Тип">
        <nz-option-group nzLabel="Огнестрельное">
          <nz-option nzValue="pistol" nzLabel="Пистолет"></nz-option>
          <nz-option nzValue="submachine-gun" nzLabel="Пистолет-пулемёт"></nz-option>
          <nz-option nzValue="shotgun" nzLabel="Дробовик"></nz-option>
          <nz-option nzValue="automatic-rifle" nzLabel="Автоматическая винтовка"></nz-option>
          <nz-option nzValue="sniper-rifle" nzLabel="Снайперская винтовка"></nz-option>
          <nz-option nzValue="machine-gun" nzLabel="Пулемет"></nz-option>
        </nz-option-group>
        <nz-option-group nzLabel="Холодное">
          <nz-option nzValue="knife" nzLabel="Нож"></nz-option>
          <nz-option nzValue="sword" nzLabel="Меч"></nz-option>
          <nz-option nzValue="axe" nzLabel="Топор"></nz-option>
        </nz-option-group>

      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="length">Общая длина</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Длина оружия обязательна">
      <nz-input-group nzSuffix="мм">
        <input formControlName="length" nz-input placeholder="Длина" type="number"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Калибр</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input placeholder="Калибр"
             nz-input
             formControlName="caliber"
             (ngModelChange)="onChange($event)"
             [nzAutocomplete]="auto"/>
      <nz-autocomplete [nzDataSource]="filteredCalibers" #auto></nz-autocomplete>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="weight">Вес</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Вес обязателен">
      <nz-input-group nzSuffix="гр">
        <input formControlName="weight" nz-input placeholder="Вес" type="number">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Ёмкость магазина</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="capacity" nz-input placeholder="Ёмкость магазина" type="number">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="manufacturerId">Производитель</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Производитель обязателен">
      <nz-select formControlName="manufacturerId" nzPlaceHolder="Производитель">
        <nz-option *ngFor="let manufacturer of manufacturers"
                   [nzValue]="manufacturer.id"
                   [nzLabel]="manufacturer.title + ' - ' + manufacturer.country">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Скорость пули</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-group nzSuffix="м/с">
        <input formControlName="bulletSpeed" nz-input placeholder="Начальная скорость пули" type="number">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div class="whole-length justify-center">
    <div class="price">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Цена</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Цена обязательна">
          <nz-input-group nzSuffix="$">
            <input formControlName="price"
                   max="50000"
                   min="1"
                   nz-input
                   placeholder="Цена товара"
                   type="number">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="whole-length justify-center">
    <h3>Фото</h3>
    <nz-upload nzAction="https://www.mocky.io/v2/5185415ba171ea3a00704eed"
               [(nzFileList)]="file"
               nzFileType="image/png"
               nzListType="picture">
      <button nz-button nzSize="large">
        <i nz-icon nzType="plus"></i>
        Добавить (.png)
      </button>
    </nz-upload>
  </div>

  <div class="whole-length save-button">
    <button (click)="saveGun()" nz-button nzSize="large">
      <i nz-icon nzType="save"></i>
      Сохранить
    </button>
  </div>
</form>
