<nz-layout>
  <nz-sider nzTheme="light" nzWidth="250px">
    <ul [formGroup]="filterForm" nz-menu nzMode="inline">
      <li formGroupName="price" nzOpen nz-submenu nzTitle="Цена">
        <div class="btn-group">
          <input formControlName="minPrice"
                 max="50000"
                 min="0"
                 nz-input
                 placeholder="от"
                 type="number">
          <span>-</span>
          <input formControlName="maxPrice"
                 max="50000"
                 min="0"
                 nz-input
                 placeholder="до"
                 type="number">
        </div>
      </li>
      <li nzOpen nz-submenu nzTitle="Тип">
        <nz-checkbox-group [(ngModel)]="types"
                           (ngModelChange)="toggleTypes($event, 'types')"
                           [ngModelOptions]="{ standalone: true }"
                           class="checkboxes-grid">
        </nz-checkbox-group>
      </li>
      <li nz-submenu nzTitle="Производитель">
        <nz-checkbox-group [(ngModel)]="manufacturers"
                           (ngModelChange)="toggleTypes($event, 'manufacturers')"
                           [ngModelOptions]="{ standalone: true }"
                           class="checkboxes-grid">
        </nz-checkbox-group>
      </li>
    </ul>
    <div class="filter-button">
      <button (click)="filter()" nzSize="large" nz-button>Применить фильтр</button>
    </div>
  </nz-sider>
  <nz-content>
    <app-cards-list class="cards" *ngIf="(weapons$ | async) as weapons else loader" [items]="weapons"></app-cards-list>
    <ng-template #loader>
      <div class="spin-wrapper">
        <nz-spin nzSize="large" nzSimple></nz-spin>
      </div>
    </ng-template>
  </nz-content>

</nz-layout>
