<nz-layout>
  <nz-header>
    <div class="header-grid">
      <img class="logo" src="../assets/images/Logo.png" alt="">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="main-menu">
        <li nz-menu-item><a routerLink="">Главная</a></li>
        <li nz-menu-item><a routerLink="catalog">Каталог</a></li>
        <li nz-menu-item><a routerLink="about">О нас</a></li>
      </ul>
      <div class="login">
        <a routerLink="/root/admin-panel">
          Войти
          <i nz-icon nzType="user"></i>
        </a>
      </div>
    </div>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
