<nz-layout>
  <nz-header>
    <div class="header-grid">
      <img class="logo" src="../assets/Logo.png" alt="">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="main-menu">
        <li nz-menu-item><a routerLink="">Главная</a></li>
        <li nz-menu-item><a routerLink="catalog">Каталог</a></li>
        <li routerLink="firearm" nz-menu-item>Аксессуары</li>
        <li routerLink="firearm" nz-menu-item>Патроны</li>
      </ul>
      <div routerLink="/root/admin-panel" class="login">
        <nz-avatar nzIcon="user"></nz-avatar>
      </div>
    </div>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
