<nz-layout>
  <nz-header>
    <div class="header-grid">
      <img class="logo" src="../assets/images/Logo.png" alt="">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="main-menu">
        <li nz-menu-item><a routerLink="">Главная</a></li>
        <li nz-menu-item><a routerLink="catalog">Каталог</a></li>
        <li nz-menu-item><a routerLink="about">О нас</a></li>
      </ul>
      <div class="login">
        <a routerLink="cart">
          Корзина
          <i nz-icon nzType="shopping-cart"></i>
        </a>
      </div>
    </div>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

  <nz-footer>
    <div class="footer-grid">
      <img class="footer-logo" src="../assets/images/Logo.png" alt="">

      <div>
        Мы в соц. сетях: <br>
        <a>Вконтакте</a> <br>
        <a>Instagram</a> <br>
        <a>Telegram</a>
      </div>

      <div>
        Обратная связь: <br>
        ares.gunshop@gmail.com
      </div>

      <div>
        Адрес: <br>
        г. Москва, <br>
        ул. Моховая 1
      </div>
    </div>
  </nz-footer>
</nz-layout>
